body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

ul {
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 90px;
    justify-content: end;
}

.nav-list {
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding-left: 0;
}

.nav-list li {
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 19px;
    padding: 0 15px;
}

.nav-list li:last-of-type {
    padding-left: 15px;
    padding-right: 0;

}

.nav-list li a {
    transition: all .25s ease;
}

.nav-list li a:hover {
    color: rgb(0, 142, 24);
}

.nav-list li:last-of-type a {
    display: flex;
    align-items: center;
    color: white;
    background-color: rgba(239, 69, 69, 0.81);
    height: 30px;
    padding: 0 10px;
    border-radius: 3px;
    transition: all .25s ease;
}

.nav-list li:last-of-type a:hover {
    background-color: rgb(111, 29, 29);
}

.nav-list li:last-of-type a svg {
    width: 20px;
    margin-right: 5px;
}

.logo-container {
    flex-grow: 1;
    margin-left: 30px;
}

/* .logo-link {
    display: flex;
    height: 100%;
    align-items: center;
    width: 70px;
} */


.logo-img {
    height: 70px;
    width: 70px;
    transition: all .20s ease;
}

.logo-img:hover{
    transform: scale(1.05);
}

.bars {
    display: none;
}

@media (max-width: 1070px) {
    nav .bars {
        display: block;
        margin-right: 30px;
        font-size: 30px;
    }

    nav .nav-list {
        display: none;
    }

    nav:hover .nav-list {
        display: block;
        margin-top: 100px;
        margin-right: 19px;
        background-color: white;
        position: relative;
        padding: 10px 10px 10px 0;
    }
}

.content {
    max-width: 100%;
    margin: 0 20px 0 20px;
    border-radius: 20px;
}


section {
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(220 207 207 / 81%);
    border: 2px solid gray;
}

section p {
    font-size: 18px;

}

section a {
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
    height: 37px;
    display: flex;
    color: white;
    background-color: rgb(112 82 82 / 81%);
    align-items: center;
    justify-content: start;
    border-radius: 10px;
    width: fit-content;
    padding: 0 20px;
    transition: all .20s ease;

}

section a:hover {
    background-color: cadetblue;
}

.section a svg {
    justify-content: end;
}

@media (max-width: 438px) {
    section a {
        height: 45px;
    }

}

.about {
    margin-bottom: 0;
}

.footer {
    background-color: #c0f3e2;
    justify-content: center;

}

.footer-text {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    margin: 0;
}


.links {
    display: flex;
    justify-content: center;
}

.contacts {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.contacts li {
    padding: 0 20px;
    font-size: 35px;
}

.contacts li:hover {
    font-weight: 800;
}

.lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: 20px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
  }
  .lds-heart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: #cef;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .lds-heart div:after,
  .lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: #cef;
  }
  .lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
  }
  .lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
  }
  @keyframes lds-heart {
    0% {
      transform: scale(0.95);
    }
    5% {
      transform: scale(1.1);
    }
    39% {
      transform: scale(0.85);
    }
    45% {
      transform: scale(1);
    }
    60% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(0.9);
    }
  }